<article class="summary-article" id="{{ .RelPermalink }}">
  {{ with resources.GetMatch .Params.thumbnail }}
  {{ with .Fill "400x400 smart" }}
  <img class="post_thumbnail-img" src="{{ .RelPermalink }}">
  {{ end }}
  {{ end }}
    
  <div class="post_content-div">
    <label class="date-label">{{ .Date.Format "2006-01-02" }}</label>
    <h1 class="post_title-h1">{{ .Title }}</h1>
    {{ with .Params.tags }}
    <ul class="tags-ul">
      {{ range . }}
      <li class="tag-li"><i>{{ . }}</i></li>
      {{ end }}
    </ul> 
    {{ end }}
    <div class="post_summary-div">
      <p>
	{{ .Summary }}
      </p>
    </div>
  </div>
</article>
